.markdown-preview h1 {
  @apply font-bold text-4xl mb-2;
}

.markdown-preview h2 {
  @apply font-bold text-3xl mb-2;
}

.markdown-preview h3 {
  @apply font-bold text-2xl mb-2;
}

.markdown-preview h4 {
  @apply font-bold text-xl mb-2;
}

.markdown-preview h5 {
  @apply font-bold text-lg mb-2;
}

.markdown-preview h6 {
  @apply font-bold text-base mb-2;
}

.markdown-preview ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

.markdown-preview li {
  display: list-item;
  text-align: -webkit-match-parent;
  margin-bottom: 10px;
}

.markdown-preview li::marker {
  unicode-bidi: isolate;
  font-variant-numeric: tabular-nums;
  text-transform: none;
  text-indent: 0px !important;
  text-align: start !important;
  text-align-last: start !important;
}

.markdown-preview ol {
  margin-top: 0;
  margin-bottom: 10px;

  display: block;
  list-style-type: decimal;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

.markdown-preview a {
  @apply text-blue-600 hover:underline;
}

.markdown-preview p {
  margin-bottom: 28px;
}
